/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

:root {
	--uwcs-blue:       #3D53FF;
	--uwcs-dark-blue:  #162160;
	--uwcs-white-blue: #E4E8FF;
	--uwcs-dark-grey:  #222528;
	--uwcs-light-grey: #2E3337;
	--uwcs-yellow:     #FDD835;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Ubuntu Mono", monospace;
	color: white;
}

.panel {
	background-color: var(--uwcs-dark-grey);
	padding: 9px;
}

.inset-border {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	border: 3px solid var(--uwcs-light-grey);
	margin: 5px;
}

.shadow {
	text-shadow: 0 0 10px var(--uwcs-blue);
}

/* graphics layout sizing */
#layout {
	width: 1920px;
	height: 1010px;
	position: absolute;
	/*overflow: hidden;*/
}

/* bar sizing */
#bar {
	width: 1920px;
	height: 70px;
	position: absolute;
	overflow: hidden;
}

#timer-icon {
	height: 25px;
	width: 25px;
	margin-right: 10px;
}
