body {
	font-size: 16px;
}

/* Button styling */
button {
	padding: 3px 12px;
	font-size: 16px;
	border-radius: 2px;
	text-transform: uppercase;
	cursor: pointer;
	color: white;
	background-color: #2196f3;
	outline: none;
	border: none;
	box-shadow: 0 0 4px #999;
	margin: 2px;
}

button:disabled {
	opacity: 0.3;
	cursor: not-allowed;
}

label {
	display: block;
	font-size: 16px;
}

input {
	font-size: 18px;
	padding: 5px;
	border: 1px solid #999;
	background-color: #f5f5f5;
}

.icon {
	height: 20px;
	width: 20px;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.light-green {
	background-color: #00ef00;
}

.orange {
	background-color: orange;
}

.icon {
	height: 16px;
	width: 16px;
}
