@import url("../node_modules/bulma/css/bulma.css");

.wasd-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 5px;
	padding: 5px;
	width: auto;
}

.wasd-col {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 5px;
	padding: 5px;
	width: auto;
}

.wasd-icon {
	width: 18px;
	height: 18px;
	background-size: contain;
	background-position: center center;
}

.wasd-icon.edit {
	background-image: url("./img/edit-icon.svg");
}

.wasd-icon.delete {
	background-image: url("./img/delete-icon.svg");
}

.wasd-icon.arrow-up {
	background-image: url("./img/arrow-up-icon.svg");
}

.wasd-icon.arrow-down {
	background-image: url("./img/arrow-down-icon.svg");
}

.wasd-icon.tick {
	background-image: url("./img/tick-icon.svg");
}
