body {
	display: flex;
	flex-direction: column;
}

body > div {
	margin: 10px;
}

#hashtag {
	font-size: 22px;
}

.tweet-conatiner {
	display: flex;
	flex-direction: column;
}

.title {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 16px;
}

.tweet {
	display: flex;
	min-height: 60px;
	background: white;
	padding: 10px;
	box-shadow: 0 0 5px #999;
	margin: 5px 0;
}

.tweet-content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.tweet-controls {
	display: flex;
	align-items: center;
}

.tweet-handle {
	margin-bottom: 5px;
}
