/* Schedule table properties */
table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 5px;
}

td {
	text-overflow: ellipsis;
}

th {
	text-align: left;
}

tr.current {
	border: 2px solid red;
}

#horaro-input {
	flex: 1;
}

/* Restrict columns by width percentage */
.table-10 {
	width: 10%;
}

.table-15 {
	width: 15%;
}

.table-20 {
	width: 20%;
}

/* Generic flexbox row */
.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
	/* background-color: white;
	box-shadow: 0 0 4px #999; 
	padding: 5px;*/
}

.row > *{
	margin-left: 20px;
	margin-right: 20px;
}

td > button {
	padding: 5px 16px;
}
