@import url("../wasd-dashboard.css");

button {
	margin: 0 5px;
}

td {
	vertical-align: middle !important;
}

table {
	table-layout: fixed;
}

#run-game {
	width: 25%;
}

#run-game-year {
	width: 10%;
}

#run-estimate {
	width: 10%;
}

#run-category {
	width: 20%;
}

#run-runners {
	width: 20%;
}

#run-controls {
	width: 15%;
}
