@import url("../wasd-dashboard.css");

#stopwatch-display {
	font-size: 70px;
	line-height: 70px;
	font-weight: bold;
}

#stopwatch-display.running {
	background-color: lightgreen;
}

#stopwatch-display.paused {
	background-color: yellow;
}

.stopwatch-button {
	margin: 5px;
}
