body {
	display: flex;
	align-items: center;
}

input {
	width: 100%;
}

.edit-runner {
	display: flex;
}

.edit-runner > div {
	margin: 5px;
}

#game-info {
	margin: 5px;
}

#game-info > div {
	margin: 5px;
}

#runner-info {
	margin: 5px;
}
