#break {
	background-color: var(--uwcs-dark-grey);
	overflow: hidden;
	width: 1920px;
	height: 1080px;
	position: absolute;
}

.col {
	position: absolute;
	height: 100%;
	display: flex;
	padding: 50px 0;
	flex-direction: column;
	justify-content: space-around;
}

#col-left {
	left: 10%;
	width: 500px;
	z-index: 1;
}

#col-left > div {
	background-color: var(--uwcs-light-grey);
	width: 100%;
	padding: 15px 50px;
	margin-bottom: 10px;
}

#total {
	font-size: 80px;
	text-align: center;
}

#general {
	flex: 1;
}

#wasd-logo, #charity-logo {
	width: 100%;
}


#col-right {
	width: 700px;
	right: 15%;	
	z-index: 1;
}

#cam {
	width: 100%;
	height: 400px;
	background-color: green;
	margin-bottom: 15px;
}

#later {
	display: flex;
	flex-direction: column;
	flex: 1;
}

#next-title, #later-title {
	font-size: 40px;
}

#later-runs {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.run {
	background-color: var(--uwcs-light-grey);
	padding: 10px;
	margin: 10px 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.run.first {
	border: 3px solid var(--uwcs-yellow);
}

.run-game {
	font-size: 35px;
}

.run-info {
	font-size: 20px;
	text-align: center;
}


/* Background element stuff */
.floaty {
	position: absolute;
	background-position: center;
	background-size: cover;
	width: 25px; height: 25px;
}

.cross {
	background-image: url("../img/cross-bg.svg");
}
.rectangle {
	background-image: url("../img/rectangle-bg.svg");
}
.oval {
	background-image: url("../img/oval-bg.svg");
}

.dot {
	background-image: url("../img/dot-bg.svg");
}
.triangle {
	background-image: url("../img/triangle-bg.svg");
}
