#bar {
	background-color: var(--uwcs-dark-grey);
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

#bar > div {
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
}

.spacer {
	width: 5px;
	height: 100%;
	background-color: var(--uwcs-yellow);
	margin-left: 20px;
	margin-right: 20px;
}

#left {
	background-color: var(--uwcs-light-grey);
	transform: skew(-20deg) translateX(-20px);
	box-shadow: 0 0 10px var(--uwcs-blue);
}

#wasd-logo {
	margin-left: 30px;
	height: 90%;
	transform: skew(20deg);
}

#middle {
	flex: 1;
}

#right {
	background-color: var(--uwcs-light-grey);
	transform: skew(-20deg) translateX(20px);
	box-shadow: 0 0 10px var(--uwcs-blue);
}

#total {
	margin-left: 20px;
	transform: skew(20deg);
	font-size: 40px;
}

#charity-logo {
	margin-right: 30px;
	height: 80%;
	transform: skew(20deg);
}
